# QIIME 2
*.qza
*.qzv

# Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
*.bam
*.bai
*.sam

# Large biological data
*.biom
*.h5
*.hdf5

# Temporary files
.ipynb_checkpoints/
__pycache__/
*.log
.DS_Store